.appointment-page {
  position: relative;
  padding: 120px;
}
.appointment-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background: url(../assets/photo-1560066984-138dadb4c035.jpg) fixed center;
  filter: grayscale(100%);
  width: 100%;
  bottom: 0;
  z-index: 1;
}
.appointment-page::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.6)
  );
  z-index: 2;
}

.appointment-texts span {
  color: #ffcc00;
  font-family: "Playfair Display", serif;
  /* font-size: 5.5rem; */
  /* line-height: 90px; */
  font-weight: 800;
}
.appointment-texts h1 {
  color: white;
  font-size: 5rem;
  font-family: "Playfair Display", serif;
  font-weight: 200;
  line-height: 90px;
}
.appointment-texts {
  width: 100%;
  margin: auto;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
  padding-top: 100px;
}
.appointment-texts p {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  color: rgb(226, 232, 240);
  width: 800px;
  margin: 30px auto;
}
.appointment-section1 {
  background-color: rgb(248, 250, 252);
  padding: 100px 0;
}
.appointment-displays {
  width: 80%;
  margin: auto;
}
.appointment-displays h6 {
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  line-height: 20px;
  color: rgb(147, 51, 234);
}
.appointment-displays h6::before {
  content: "";
  width: 50px;
  height: 25px;
  position: absolute;
  display: flex;

  left: 30%;
  background-color: rgb(138, 32, 138);
  color: purple;
  margin-bottom: 10px;
  -webkit-mask-image: url(../assets/ded6d677-00ea-48fa-aa96-b6edf9e09e56.svg);
  mask-image: url("../assets/ded6d677-00ea-48fa-aa96-b6edf9e09e56.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
}
.appointment-headings {
  display: flex;
  justify-content: center;
}
.appointment-headings div {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active {
  color: rgb(138, 32, 138);
  border: 2px solid rgb(138, 32, 138);
}
.step-block .text-active {
  color: rgb(138, 32, 138);
}
.step-block .text-actives {
  color: rgb(138, 32, 138);
}
.step-block .done {
  background-color: rgb(138, 32, 138) !important;
  color: white;
  border-color: #8e44ad;
}
.step-block .circle {
  background-color: rgb(243, 232, 255);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-family: Inter, sans-serif;
  margin-left: 20px;
  font-weight: 500;
  font-size: 0.8rem;
}
.step .circle {
  background-color: rgb(243, 232, 255);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-family: Inter, sans-serif;
  margin-left: 20px;
  font-weight: 500;
  font-size: 0.8rem;
}
.appointment-displays span {
  font-size: 0.8rem;
  font-family: Inter, sans-serif;
}
.step-block::after {
  content: "";
  width: 50px;
  height: 1px;
  background: rgba(146, 144, 144, 0.322);
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  border-radius: 5px;
}

.after::after {
  content: "";
  width: 50px;
  height: 1px;
  background: rgb(138, 32, 138);
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
  border-radius: 5px;
}
.appointment-displays span {
  font-size: 0.8rem;
  font-family: Inter, sans-serif;
  font-weight: 500;
  color: rgb(105, 104, 104);
}
.appointment-displays h3 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 10px;
  color: black;
  text-align: center;
  padding-top: 50px;
}
.service-paragraph {
  font-family: Inter, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 25px;
  color: rgb(105, 104, 104);
  margin-top: 10px;
  text-align: center;
}
.appointment-card {
  width: 100%;
}
.service-cards {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}
.appointment-icon {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 20px;
  padding-bottom: 50px;
}
.appointment-icon i {
  font-size: 1.5rem;
  color: rgb(138, 32, 138);
  margin-right: 15px;
  background-color: rgb(243, 232, 255);
  padding: 10px;
  width: 50px;
  display: flex;
  align-items: center;
  margin-top: 15px;
  justify-content: center;
  height: 50px;
  /* text-align: center */
  border-radius: 50px;
}
.appointment-icon h2 {
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 32px;
  color: rgb(37, 36, 36);
  padding-top: 10px;
}
.appointment-icon p {
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22.75px;
  color: gray;
  padding-top: 20px;
}
.time-price {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 30px;
}
.time-price div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.time-price i {
  font-size: 1.2rem;
  color: gray;
  background-color: transparent;
  margin: 0;
}
.time-price p {
  font-family: Inter, sans-serif;
  font-size: 0.9rem;
  color: rgb(147, 51, 234);
  padding: 0;
  font-weight: 500;
}
.appointment-icon:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.service-display {
  margin-top: 40px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}
.service-button-div {
  text-align: right;
  margin-top: 40px;
}
.service-button-div button {
  padding: 20px;
  /* width: 170px; */
  background-color: rgb(138, 32, 138);
  font-weight: 500;
  font-family: Inter, sans-serif;
  color: rgb(54, 52, 52);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  position: relative;
}
.service-button-div button i {
  font-size: 16px;
  transition: right 0.3s ease;
}
.service-button-div button:disabled {
  background-color: rgba(131, 128, 128, 0.411);
  cursor: not-allowed;
}
.service-button-div button:hover {
  transform: translateY(-2px);
  i {
    margin-right: 3px;
  }
}

.hover {
  display: none;
}
.service-button-div button:hover .main {
  display: none;
}

.time-container {
  background-color: white;
  padding: 30px;
  box-shadow: 5px 10px 20px rg ba(248, 233, 233, 0.158);
  margin-top: 70px;
  border-radius: 20px;
}
.date-content {
  display: flex;
  gap: 10px;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
/* .date-contents{

} */
.date-content::-webkit-scrollbar {
  display: none;
}
.time-container span {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: rgb(100, 116, 139);
  font-family: Inter, sans-serif;
}
.date-box {
  border: 2px solid rgba(128, 128, 128, 0.089);
  box-shadow: 10px 15px 30px rgba(209, 209, 209, 0.158);
  padding: 30px;
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
}
.date-box:hover {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.date-box h2 {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(37, 36, 36);
  text-transform: uppercase;
  font-family: Inter, sans-serif;
  padding-top: 10px;
}
.date-box h4 {
  font-family: Inter, sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(105, 104, 104);
  margin-top: 10px;
  line-height: 0;
}
.time-price-header p {
  font-family: Inter, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 24px;
  color: rgb(100, 116, 139);
  text-align: center;
  margin-top: 10px;
}
.selected {
  background-color: rgb(147, 51, 234);
  border: 2px solid rgba(128, 128, 128, 0.089);
  box-shadow: 10px 15px 30px rgba(209, 209, 209, 0.158);
  padding: 30px;
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
}

.selected h2 {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  font-family: Inter, sans-serif;
  padding-top: 10px;
}
.selected h4 {
  font-family: Inter, sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  color: white;
  margin-top: 10px;
  line-height: 0;
}
.day-container h5 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: rgb(100, 116, 139);
}
.date-container {
  background-color: white;
  padding: 30px;
  box-shadow: 5px 10px 20px rg ba(248, 233, 233, 0.158);
  margin-top: 70px;
  border-radius: 20px;
}
.day-content {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto auto auto auto;
  padding-top: 20px;
}
.time-box {
  border: 2px solid rgba(128, 128, 128, 0.089);
  box-shadow: 10px 15px 30px rgba(209, 209, 209, 0.158);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}
.time-box:hover {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.selected-time {
  background-color: rgb(147, 51, 234);
  border: 2px solid rgba(128, 128, 128, 0.089);
  box-shadow: 10px 15px 30px rgba(209, 209, 209, 0.158);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}
.selected-time p {
  font-family: Inter, sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  color: white;
}
.form-container {
  background-color: white;
  padding: 30px;
  box-shadow: 5px 10px 20px rgba(248, 233, 233, 0.158);
  margin-top: 70px;
  width: 100%;
  border-radius: 30px;
}
.details-form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
}
.form-container input {
  padding: 12px 15px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-size: 0.95rem;
  color: rgb(37, 36, 36);
  outline: none;
  transition: border-color 0.3s ease;
}
.form-container input:focus {
  border: 2px solid rgb(159, 93, 221);
}
.form-container label {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(37, 36, 36);
  margin-bottom: 8px;
  margin-top: 10px;
}
.form-container h2 {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(37, 36, 36);
  margin-bottom: 20px;
}
.form-container textarea {
  padding: 12px 15px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-size: 0.95rem;
  color: rgb(37, 36, 36);
  outline: none;
  transition: border-color 0.3s ease;
  resize: vertical;
}
.form-container textarea:hover {
  border: 2px solid rgb(159, 93, 221);
}
.form-content {
  display: flex;
  gap: 40px;
}
.booking-container {
  width: 60%;
  background-color: white;
  padding: 30px;
  box-shadow: 5px 10px 20px rgba(248, 233, 233, 0.158);
  margin-top: 70px;
  border-radius: 30px;
  height: 100%;
}

.booking-content {
  padding-top: 20px;
}
.booking-content div {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  margin-top: 15px;
}
.booking-container h2 {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(37, 36, 36);
  border-bottom: 1px solid rgba(172, 167, 167, 0.37);
  padding-bottom: 20px;
}
.booking-content p {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(100, 116, 139);
}

.booking-content h5 {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(15, 15, 15);
}
.total-price {
  border-top: 1px solid rgba(172, 167, 167, 0.37);
  padding-top: 15px;
}
.total-price h4 {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(37, 36, 36);
  font-family: "Inter", sans-serif;
}
.total-price h1 {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(147, 51, 234);
}
.back-button {
  margin-top: 40px;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  color: rgb(71, 85, 105);
  padding: 20px;
  border-radius: 10px;
}
.back-button:hover {
  background-color: rgba(105, 104, 104, 0.281);
}
.button-divs {
  display: flex;
  justify-content: space-between;
}
.confirm {
  width: 500px;
}
.error-message {
  color: #dc2626;
  font-family: "Inter", sans-serif;
  font-size: 0.7rem;
  font-weight: 700;
  margin-top: 5px;
}

@media (max-width: 1000px) {
  .appointment-texts p {
    width: 100%;
  }
  .appointment-displays h6::before {
    left: 20%;
  }
  .appointment-displays {
    width: 90%;
  }
  .form-content{
    flex-direction: column;
  }
  .booking-container{
    width: 100%;
  }
}
@media (max-width: 800px) {
  .appointment-displays {
    width: 90%;
  }
  .service-display {
    grid-template-columns: auto;
    /* display: block; */
  }
  .appointment-span {
    display: none;
  }
  .appointment-span::after {
    display: block;
  }
  .day-content{
    grid-template-columns: auto auto auto;
  }
}
@media (max-width: 700px) {
  .appointment-texts h1 {
    font-size: 4rem;
    line-height: 70px;
  }
  .appointment-page {
    padding: 50px;
  }
  .appointment-displays h6::before {
    left: 10%;
  }
}
@media (max-width: 500px) {
  .appointment-texts h1 {
    font-size: 3rem;
    line-height: 55px;
  }
  .appointment-page {
    padding: 50px;
  }
  .appointment-texts p {
    font-size: 1rem;
  }
  .step-block::after {
    content: "";
    width: 30px;
    height: 1px;
    background: rgba(146, 144, 144, 0.322);
    display: inline-block;
    margin-left: 4px;
    vertical-align: middle;
    border-radius: 5px;
  }
  .step-block ::after {
  }
  .after::after {
    content: "";
    width: 30px;
    height: 1px;
    background: rgb(138, 32, 138);
    display: inline-block;
    margin-left: 4px;
    vertical-align: middle;
    border-radius: 5px;
  }
  .appointment-icon p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .appointment-displays h3{
    font-size: 1.2rem;
  }
   .day-content{
    grid-template-columns: auto auto;
  }
}
@media (max-width: 400px) {
  .appointment-texts h1 {
    font-size: 2.5rem;
    line-height: 40px;
  }
  .appointment-page {
    padding: 30px;
  }
  .time-price div {
    gap: 20px;
  }
  .time-price div p {
    font-size: 10px;
  }
  .time-price div span {
    font-size: 10px;
  }
  .appointment-displays h6::before {
    left: -5%;
  }
  .appointment-icon{
    flex-direction: column;
    align-items: center;
  }
  .back-button{
    width: 100%;
  }
  .service-button-div button{
    width: 100%;
  }
  .button-divs{
    flex-direction: column;
  }
  .confirm{
    width: 100%;
  }
}
